body {
    margin: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    color: #00008B;
}

.header__list {
    display: flex;
    list-style-type: none;
    font-weight: bold;
position: relative;
    right: 30px;
}

.header__ttl {
    position: relative;
    left: 10px;
    bottom: 20px;
}

.header__item {
    margin-left: 20px;
}

.cont {
    position: relative;
    top: 300px;
    right: 10px;
}

.heading {
    font-size: 62px;
    position: relative;
    top: 380px;
}


.box {
    width: 80%;
    height: 100px;
    background-color: #00008B;
}

.cont__img {
    position: absolute;
    width: 60%;
    right: 0;
    bottom: 50%;
}





